<!DOCTYPE html>
<html lang="pt-br" ng-app="ComparadorUsuarios">
    <head>
        <meta charset="UTF-8">
        <title>Comparador de Usuários do GitHub</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-controller="comparadorUsuariosController">
        <div class="content">
            <div class="formContent">
                <form name="formUsers" ng-submit="compareUsers(formUsers.$valid)" enctype="multipart/form-data" novalidate>
                    <div class="form-group">
                        <input type="text" name="user1" ng-model="user1" class="form-control" id="user1" placeholder="Primeiro Usuário" required>
                        <label class="inputError" ng-show="formUsers.user1.$dirty && formUsers.user1.$invalid"> Campo inválido! </label>
                    </div>
                    <div> vs. </div>
                    <div class="form-group">
                        <input type="text" name="user2" ng-model="user2" class="form-control" id="user2" placeholder="Segundo Usuário" required>
                        <label class="inputError" ng-show="formUsers.user2.$dirty && formUsers.user2.$invalid"> Campo inválido! </label>
                    </div>
                    <input type="submit" id="submit" value="Comparar" />
                    {{ erroReq }}
                </form>
            </div>
            <div class="result" ng-if="users" ng-repeat="user in users">
                <img ng-src="{{ user.avatar_url }}" width="50" height="50">
                <ul>
                    <li>
                        ID: {{ user.id }}
                    </li>
                    <li>
                        Login: {{ user.login }}
                    </li>
                    <li ng-if="user.name">
                        Nome: {{ user.name }}
                    </li>
                    <li>
                        Followers: {{ user.followers }}
                    </li>
                    <li>
                        Pontuação: {{ user.points }}
                    </li>
                </ul>
                <h2 ng-if="user.vencedor">VENCEDOR!</h2>
            </div>
            {{ users }}
        </div>
    </body>
</html>