<!DOCTYPE html>
<html lang="pt-br" ng-app="ComparadorUsuarios">
    <head>
        <meta charset="UTF-8">
        <title>Comparador de Usuários do GitHub</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-controller="comparadorUsuariosController">
        <div class="content">
            <form name="formUsers" ng-submit="compare(formUsers.$valid)" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label for="user1">Usuário 1</label>
                    <input type="text" name="user1" ng-model="user1" class="form-control" id="user1" placeholder="Primeiro Usuário" required>
                    <label class="inputError" ng-show="formUsers.user1.$dirty && formUsers.user1.$invalid"> Campo inválido! </label>
                </div>
                <div class="form-group">
                    <label for="user2">Usuário 2</label>
                    <input type="text" name="user2" ng-model="user2" class="form-control" id="user2" placeholder="Segundo Usuário" required>
                    <label class="inputError" ng-show="formUsers.user2.$dirty && formUsers.user2.$invalid"> Campo inválido! </label>
                </div>
                <input type="submit" id="submit" value="Comparar" />
            </form>
            {{ erroReq }}
            {{ usersInfo }}
        </div>
    </body>
</html>